<script>
 let VALUE_MAP = {
   0: "0",
   0.125: "1/8",
   0.250: "1/4",
   0.375: "3/8",
   0.500: "1/2",
   0.625: "5/8",
   0.750: "3/4",
   0.875: "7/8",
   1: "1",
 }

 function nearest(arr, val) {
   return arr.reduce((p, n) =>
     (Math.abs(p) > Math.abs(n - val) ? n - val : p), Infinity
   ) + val
 }

 function scale() {
   let elems = [...document.querySelectorAll('.scalee')];
   let mult = document.querySelector('#scale-input').value;
   elems.forEach( elem => {
     let defaultValue = elem.getAttribute("data-default");
     let calculatedValue = defaultValue * (mult || 1);
     let front = Math.floor(calculatedValue);
     let back = calculatedValue - front;
     let calculateArr = []
     if (front) {
       calculateArr.push(front);
     }
     if (back) {
       console.log(VALUE_MAP[nearest(Object.keys(VALUE_MAP), back)])
       calculateArr.push(VALUE_MAP[nearest(Object.keys(VALUE_MAP), back)]);
     }
     elem.innerHTML = calculateArr.join(" ");
   });
 }

 function temperature() {
   let elems = [...document.querySelectorAll('.temperaturee')];
   let unit = document.querySelector('#temperature-input').value;
   elems.forEach( elem => {
     let defaultValue = elem.getAttribute("data-default");
     let degrees;
     if (unit == "F") {
       degrees = defaultValue;
     } else {
       degrees = Math.round(((defaultValue - 32) / 1.8) / 5) * 5;
     }
     elem.innerHTML = `${degrees}°${unit}`;
   });
 }

 document.addEventListener("DOMContentLoaded", function() {
   scale();
   temperature();
 });
</script>

<div class="oneline">
  {{ if (or (not .IsNamedParams) (not (isset .Params "sizing")) (ne (.Get "sizing") false)) }}
  <label for="scale-input">Quantity:</label>
  <input
    class="label-inline"
    id="scale-input"
    type="number"
    value="1"
    min="1"
    onchange   = "scale();"
    onkeypress = "this.onchange();"
    onpaste    = "this.onchange();"
    oninput    = "this.onchange();"
  />
  {{ end }}

  {{ if (eq (.Get "temperature") true) }}
  <label for="temperature-input">Temperature:</label>
  <select
    id="temperature-input"
    onchange   = "temperature();"
    onkeypress = "this.onchange();"
    onpaste    = "this.onchange();"
    oninput    = "this.onchange();"
  >
    <option value="F">°F</option>
    <option value="C">°C</option>
  </select>
  {{ end }}
</div>

<br>
