<!DOCTYPE html>
<html lang="{{ or .Params.language .Site.LanguageCode }}" itemscope itemtype="http://schema.org/WebPage">
  {{ partial "head.html" . }}
  <body>
    {{ if not .IsHome }}
    {{ partial "navbar.html" . }}
    {{ end }}
    {{ if .Params.toc }}
    {{ .Page.TableOfContents }}
    {{ end }}
    <main class="container{{ if .IsHome }} home{{ end }}">
      {{ block "main" . -}}{{- end }}
    </main>
    {{ if not .IsHome }}
      {{ partial "footer.html" . }}
    {{ end }}
    <!-- JS -->
    {{ $baguetteBox := resources.Get "/src/scripts/_external/baguetteBox.js" }}
    {{ $headroom := resources.Get "/src/scripts/_external/headroom.js" }}
    {{ $copybutton := resources.Get "/src/scripts/_external/copybutton.js" }}
    {{ $lazyload := resources.Get "/src/scripts/_external/lazyload.js" }}
    {{ $main := resources.Get "/src/scripts/main.js" }}
    {{ $scripts := slice $copybutton $baguetteBox $headroom $lazyload $main | resources.Concat "assets/js/scripts.js" | resources.Minify }}
    <script async defer src="{{ $scripts.RelPermalink }}"></script>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
  </body>
</html>
