<nav class="top-nav">
  <a href="{{ $.Site.LanguagePrefix }}{{ "/" | relURL }}" title="{{ i18n "homePage" }}">
    <img
      class="homepage-avatar"
      src="https://www.gravatar.com/avatar/{{ md5 .Site.Author.gravataremail }}?s=40&d=identicon"
    >
    <span> {{ .Site.Author.homepagetext }} </span>
  </a>
  <span class="icon-span">
    <a title="Posts" href="/posts"> <img class="icon" src="/posts.png" /> </a>
    <a title="LinkedIn" href="https://linkedin.com/in/jtamagnan"> <img class="icon" src="/linkedin.png" /> </a>
    <a title="GitHub" href="https://github.com/jtamagnan"> <img class="icon" src="/github.png" /> </a>
    <a title="Resume" href="/Tamagnan_Jules_resume.pdf"> <img class="icon" src="/cv2.png" /> </a>
    <a title="Email" href="mailto:jtamagnan@gmail.com"> <img class="icon" src="/email.png" /> </a>
    <a title="Recipes" href="/recipes"> <img class="icon" src="/recipe.png" /> </a>
  </span>
</nav>
