html, body {
  background-color: $base-background-color;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "nav" "main" "footer";
  grid-template-columns: 1fr;
  height: 100%;

  grid-template-rows: $navbar-height 1fr 3rem;
  @media screen and (max-width: $breakpoint) {
    grid-template-rows: $navbar-height 1fr 5rem;
  }

  a {
    color: $links-color;
    text-decoration: none;

    &:hover, &:active, &:visited {
      text-decoration: underline;
    }

    .content {
      color: $color-base-text;
    }
  }

  .top-nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
    justify-self: center;
    grid-column: 1 / -1;
    max-width: 80rem !important;
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;

    &.home {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  footer {
      grid-area: footer;
  }
}

.scalee {
    color: $color-bara-orange;
}

.temperaturee {
    color: $color-bara-orange;
}

.oneline label:not(:first-child) {
    margin-left: 1em;
}

.post-title {
    font-size: 1.5em;
}

.tag {
    color: $color-drab-azure;
}

.highlight {
    position: relative;
}

.copy-code-button {
  position: absolute;
  color: #232326;
  right: 0;
  background-color: #7f7f7f;
  border: 1.25px solid #232326;
  cursor: pointer;
  opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #222225;
  background-color: #b3b3b3;
  opacity: 0.8;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: 0.01;
}
